/*header*/
header {
    width: 100%;
    height: 570px;
    background: #232526;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #4143455b, #23252668), url(../practica.grupal/imagenes/header.png);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #41434563, #23252670), url(../practica.grupal/imagenes/header.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-attachment: fixed;
 background-size:auto ;
 position: relative;
 }
 nav{
    text-align: right;
    padding: 30px 50px 0 0;
 }
 nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
 }
 nav > a:hover{
 color: #494848;
 }
 .wave{
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 header .texto-header{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }
 .texto-header h1{
    color: white;
 }
 .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
 }
 .menu-horizontal > li  > a{
    text-decoration: none;
    padding: 15px 20px;


 }